// Define variables for your color scheme

// For example:
$emerald: #023C40;
$purple: #8D6A9F;
$yellow: #FDCA40;
$orange: #FC7753;
$green: #66D7D1;
$gray: #000000;
$light-gray: #F4F4F4;
$white: #999999;
