<div class="container text-center">

  <div class="row">

    <% data.cities.each do |city, info| %>

    <div class="col-xs-12 col-sm-4">

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= city %>');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= info.name %></h2>
          <p><%= info.address %></p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/<%= info.photo%>">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <% end %>

  </div>

